<form>
  <h3 matDialogTitle>移动本列表所有内容</h3>

  <mat-dialog-content>

    <mat-form-field>
      <mat-select placeholder="请选择目标列表">
        <mat-option *ngFor="let list of lists" [value]="list.name">
          {{ list.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClick()">保存</button>
    <button type="button" mat-button matDialogClose>关闭</button>
  </mat-dialog-actions>
</form>
